@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.squares {
    padding: 8px 20px;
    color: white;
    background-color:cornflowerblue;
    border-style: none;
    border-radius: 8px;
}

.squares:hover{
    background-color: rgb(71, 124, 221);
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.grid-container {
    display: flex;
    height: 900px;
    width: 900px;
    background-color: aliceblue;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.grid-container>div {
    height: auto;
    flex: 1 0 auto;

    /* make columns vertical flexboxes */
    display: flex;
    flex-direction: column;
}

.grid-container>div>* {
    /* make rows evenly distributed */
    flex: 1;
}

.grid-row {
    border-color: black;
    border-style: solid;
    border-width: thin;
}
